$break-point: 700px;

@media (max-width: $break-point) {
    //header
    .nav {
        .nav__list {
            display: none;
            flex-direction: column;
            width: calc(100% - 80px);
            background-color: $white;
            margin: 0 0 0 0;
            position: absolute;
            top: 100px;
            text-align: center;
            margin: 20px 40px;
            z-index: 1;
            .nav__list-link {
                .nav__list-item {
                    color: $grayish__blue;
                    margin: 10px 0;
                }
            }
            &::after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                top: -25px;
                right: 0;
                border-left: 25px solid transparent;
                border-top: 25px solid transparent;
                border-right: 25px solid $white;
                border-bottom: 25px solid $white;
            }
        }
        .show__menu{
            display: flex;
        }
    }

    .nav .nav__list .nav__list-link .nav__list-item:hover {
        background-color: $yellow;
    }

    .header__brand {
        .header__brand-box {
            text-align: center;
        }
    }
    .movil__button {
        visibility: visible;
        position: absolute;
        top: 50px;
        right: 40px;
    }
    //about
    .about {
        grid-template-columns: repeat(1, 100%);
        .about__box-mobile{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .about__image-box{
                width: 100%;
            }
            .about__card{
                justify-content: center;
                width: 100%;
            }
        }
        .about__box-mobile:nth-child(1){
            flex-direction: column-reverse;
            justify-content: center;
            
        }
    }
    .about__card {
        height: 440px;
        text-align: center;
        .about__card-information {
            width: 90%;
        }
    }

    .about__service-box {
        .about__service-information {
            .about__service-h3 {
                font-size: 30px;
            }
            .about__service-description {
                font-size: 20px;
            }
        }
    }
    //Galeria
    .gallery__grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 50%));
    }
}
